include README.md
include LICENSE
include requirements.txt

include src/ds4n6_lib/isim/*.yml

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
